@page "/stocks"

@using BlazorServerConfiguration.Models
@inject BlazorServerConfiguration.Services.QuoteService QuoteService
@inject Microsoft.Extensions.Options.IOptions<QuoteOptions> QuoteOptions

<h1>Stock quote</h1>

<EditForm Model="@quote" OnValidSubmit="@HandleValidSubmitAsync" class="form-inline">
    <div class="form-group mx-sm-3 mb-2">
        <label for="tickerSymbol">Ticker symbol:</label>
        <InputSelect @bind-Value="quote.Symbol" class="form-control" id="tickerSymbol">
            <option value="AMD">AMD</option>
            <option value="GME">GME</option>
            <option value="MSFT">MSFT</option>
        </InputSelect>
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <label for="regionCode">Region code:</label>
        <InputSelect @bind-Value="quote.RegionCode" class="form-control" id="regionCode">
            <option value="US">US</option>
            <option value="BR">BR</option>
            <option value="AU">AU</option>
            <option value="CA">CA</option>
            <option value="FR">FR</option>
            <option value="DE">DE</option>
            <option value="HK">HK</option>
            <option value="IN">IN</option>
            <option value="IT">IT</option>
            <option value="ES">ES</option>
            <option value="GB">GB</option>
            <option value="SG">SG</option>
        </InputSelect>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Get Quote</button>
</EditForm>

<QuoteResult Stats="@stats" />

@code {
    private StockQuote? quote;
    private QuoteStats? stats;

    private async Task HandleValidSubmitAsync()
    {
        if (quote is not null)
        {
            stats = await QuoteService.GetStatisticsAsync(
                new(quote.Symbol, quote.RegionCode));
        }
    }

    protected override void OnInitialized()
    {
        if (QuoteOptions.Value.StockQuote is not null)
        {
            quote = new StockQuote
            {
                Symbol = QuoteOptions.Value.StockQuote.Symbol,
                RegionCode = QuoteOptions.Value.StockQuote.RegionCode
            };
        }
    }
}
